/* nav */

nav{
    background-color: rgb(66, 66, 66);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50px;
    max-width: 300px;
    transition: all 1s;
    font-family: 'Montserrat', sans-serif;
    z-index: 10;
    .logo{
        width: 40px;
        height: 40px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
    }
    .logo:hover{
        transform: scale(1.02);
    }
    .nav-list{
        display: none;
        font-size: 2rem;
        width: 90%;
        margin: 15px auto;
        li{
            padding: 4px 0;
            li{
                font-size: 1.2rem;
                margin: 0 15px;
            }
        }
    }
}

.cover{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(66, 66, 66, 0.8);
    transition: all 1s;
}
.open{
    width: 100vw !important;
    max-width: 300px;
}


.week1{
    font-family: sans-serif;
    max-width:1280px;
    margin: 0 auto;
    footer{
        max-width: 1280px;
        margin: 0 auto;
        padding-bottom: 4rem;
        background: #AAA;
    }
    div{
        margin: 3rem 0;
    }
    
    img{
        width: 100%;
        max-width: 360px;
        height: auto;
    }
    
    span{
        font-size: 0.8rem;
    }
    
    .image{
        display: flex;
        flex-direction: column;
    }
}